.header_div{
    color:black;
    background-color: darkgrey;
}

.header_div p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

body{
    font-family: 'Playfair Display', serif;
    background-color: darkgrey;
}



.main_div{
    background-color:darkgray;
    max-height: 120%;
}

.main_div button{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-top: 30px;
    width: 130px;
    letter-spacing: 3px;
}

.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: gray;
    font-size: 18px;
    background-color: lightcyan;
    line-height: 3;
    text-align: center;
    vertical-align: bottom;
    text-shadow:  5px 5px 5px gray;
}

img{
  height: 40%;
    width: 19%;
}
